:root {
    --main-accent: #00457f;
    --secondary-accent: #f9b05c;
    font-family: 'Lexend';
    font-weight: 300;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

body {
    margin: 36px max(48px, 10%) 0px max(48px, 10%);
}

nav {
    display: flex;
    justify-content: space-between;
}

img {
    width: 200px;
    height: 200px;
}

h1 {
    font-weight: 400;
    font-size: 48px;
}

h2 {
    font-weight: 400;
    font-size: 28px;
    margin: 16px 0px 16px 0px;
}

p {
    max-width: 60ch;
    line-height: 2;
}

/* Nav bar */
nav {
    margin: 0px 0px 72px 0px;
}

#name {   
    font-weight: 400;
    display: flex;
    align-items: center;
}

#logo {
    width: 28px;
    height: 28px;
    margin-right: 4px;
}

#signInBtn{
    font-family: 'Lexend';
    font-weight: 300;
    width: 108px;
    height: 28px;
    background-color: white;
    border-color: black;
    border-width: 1.6px;
    border-radius: 16px;
}

button:hover {
    opacity: 60%;
    transition: opacity 0.1s ease;
}

/* Hero */
#hero {
    margin-bottom: 164px;
}

#hook {
    margin: 0px 0px 40px 0px;
}

#hookSubtitle {
    margin: auto;
}

#mainMessage {
    margin-bottom: 72px;
}

#getStartedBtnLarge {
    font-family: 'Lexend';
    font-size: 36px;
    color: white;
    background-color: var(--main-accent);
    width: 360px;
    height: 120px;
    border: none;
    border-radius: 64px;
    box-shadow: 0px 4px black;
}

/* Benefits */
@media (min-width: 1000px) {
    #keyBenefits {
        display: flex;
        justify-content: space-between;
        gap: 64px;
        margin-bottom: 100px;
    }
}

@media (max-width: 999px) {
    #keyBenefits {
        display: flex;
        flex-direction: column;
        gap: 64px;
        margin-bottom: 100px;
    }
}

/* Contact and acknowledgments*/
#contact, #acknowledgements {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

/* Code */
#code {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 100px;
}

/* Footer */
br {
  display: inline-block;
  width: 100%;
  border-top: 1px dashed red;
}

footer {
    color: #eeeeee;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px min(-48px, -10vw) 0px min(-48px, -10vw);
    padding: 20px 0px 48px 0px;
    background-color: #1d1d1d;
}
footer a {
    color: #eeeeee;
    text-decoration: none;
    max-width: 100%;
}

