/* Nav bar signInBtn*/
#signInBtn{
    font-family: 'Lexend';
    font-weight: 300;
    width: 108px;
    height: 28px;
    background-color: white;
    border-color: black;
    border-width: 1.6px;
    border-radius: 16px;
}

/* Hero */
#hero {
    margin-bottom: 164px;
}

#hook {
    margin: 0px 0px 40px 0px;
}

#hookSubtitle {
    margin: auto;
}

#mainMessage {
    margin-bottom: 72px;
}

#getStartedBtnLarge {
    font-family: 'Lexend';
    font-size: 36px;
    color: white;
    background-color: var(--main-accent);
    width: 360px;
    height: 120px;
    border: none;
    border-radius: 64px;
    box-shadow: 0px 4px black;
}

/* Benefits */
@media (min-width: 1000px) {
    #keyBenefits {
        display: flex;
        justify-content: space-between;
        gap: 64px;
        margin-bottom: 100px;
    }
}

@media (max-width: 999px) {
    #keyBenefits {
        display: flex;
        flex-direction: column;
        gap: 64px;
        margin-bottom: 100px;
    }
}

/* Contact and acknowledgments*/
#contact, #acknowledgements {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

/* Code */
#code {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 100px;
}

/* Footer */
br {
  display: inline-block;
  width: 100%;
  border-top: 1px dashed red;
}

footer {
    color: #eeeeee;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px min(-48px, -10vw) 0px min(-48px, -10vw);
    padding: 20px 0px 48px 0px;
    background-color: #1d1d1d;
}
footer a {
    color: #eeeeee;
    text-decoration: none;
    max-width: 100%;
}